<div class="wrapper wrapper-content" id="page-content" th:fragment="content">

	<form id="homePage" class="form-horizontal" role="form">
		<div class="panel with-nav-tabs panel-primary">
			<div class="panel-heading">
				<ul class="nav nav-tabs">
					<li class="active" style="width: 50%"><a data-toggle="tab" href="#tab1">What is OIPA Migration Tool (OMT)</a></li>
					<li style="width: 50%"><a data-toggle="tab" href="#tab2">How to use OMT</a></li>
				</ul>
			</div>
			<div class="panel-body">
				<div class="tab-content">
					<div class="tab-pane fade in active" id="tab1">
						<ul>
							<li><b style="color: #3399ff">OMT :</b>
								<p>Web-based centralized tool to migrate OIPA configuration code from one region to another.</p></li>
							<li><b style="color: #3399ff">Integrated authentication and authorization :</b>
								<p>
									Role based access control for each user for accessing different available features. E.g. Users with <b style="color: #009933">Developer</b> privilege can only migrate from <b style="color: #ff9966">DEV</b> to <b style="color: #ff9966">SANBOX</b> region, <b style="color: #ff9966">QA</b> onward migration can only be done by users with <b style="color: #009933">Release Manager</b> privilege.
								</p></li>
							<li><b style="color: #3399ff">User friendly UI :</b>
								<p>Effective UI to perform each user their task quickly and effectively.</p></li>
							<li><b style="color: #3399ff">Move-sheet Upload :</b>
								<p>Predefined move-sheet can be uploaded for migrating OIPA configuration codes.</p></li>
							<li><b style="color: #3399ff">Migration Comment :</b>
								<p>Mandatory comments/justification for tracking rule migration.</p></li>
							<li><b style="color: #3399ff">User Friendly Dash-board :</b>
								<p>Informative dash-board for tracking rule migration for RM team. E.g. version, comments, date, migrated by, etc.</p></li>
							<li><b style="color: #3399ff">Rule Lock mechanism :</b>
								<p>OMT has Locking mechanism to prevent multiple users migrating same rule simultaneously.</p></li>
							<li><b style="color: #3399ff">Audit Tracking :</b>
								<p>OMT has feature to audit log and track each and every rules which has been migrated using the tool.</p></li>
							<li><b style="color: #3399ff">Reporting :</b>
								<p>OMT has feature to export migration summary in excel file.</p></li>
						</ul>
					</div>
					<div class="tab-pane fade " id="tab2">
						<embed th:src="@{/custom/static/OMT_Help.pdf}" width="100%" height="424px" type='application/pdf'></embed>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>