
<div class="wrapper wrapper-content" th:fragment="content">
	<div class="ibox-content">
		<!-- <div>
			<ul class="breadcrumb">
				<li class="completed"><span>Select Region</span></li>
				<li class="completed"><span>Rule Selection</span></li>
				<li class="active"><span>Version Selection</span></li>
				<li><span>Migrate</span></li>
			</ul>
		</div> -->
		<div th:replace="fragments/partials :: breadcrumb"></div>
		<form id="sourceRegionform" class="form-horizontal" role="form" th:object="${migrationActivity}" th:action="@{/migrate}" method="post" onsubmit="showWaitScreen()">
			<table id="datatable" class="table table-striped table-bordered" cellspacing="0">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>Rule Guid</th>
						<th>Name</th>
						<th>Type</th>
						<th>Updated By</th>
						<th>Updated On</th>
						<th>IVS</th>
						<th>Diff</th>
						<th>Note</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="rule,stat :  ${migrationActivity.rulesForMigration}" th:id="${rule.ruleGuid}">
						<!-- 						<td><i class="glyphicon glyphicon-ok" th:if="${rule.versionGuid != null}"></i> <i class="glyphicon glyphicon-remove" th:if="${rule.versionGuid == null}"></i></td> -->
						<!-- below java script function is form ruleSelection.js -->
						<td><input type="checkbox" class="selectRule" th:id="${rule.ruleGuid+'_del'}" th:value="${rule.ruleGuid}" th:onclick="'updateRuleSelection(\'' + ${rule.ruleGuid} + '\',this.id)'" /></td>
						<td th:text="${rule.ruleGuid}"></td>
						<td th:text="${rule.ruleName}"></td>
						<td th:text="${rule.ruleType}"></td>
						<td th:id="${rule.ruleGuid}+'_author_t'" th:text="${rule.updatedBy}" th:value="${rule.updatedBy}" th:field="${migrationActivity.rulesForMigration[__${stat.index}__].updatedBy}"></td>
						<td th:id="${rule.ruleGuid}+'_updatedOn_t'" th:text="${rule.updatedOn}" th:value="${rule.updatedOn}" th:field="${migrationActivity.rulesForMigration[__${stat.index}__].updatedOn}"></td>
						<td><b th:id="${rule.ruleGuid}+'_version_t'" th:text="${rule.ivsVersion}" th:title="'Latest Version : '+${rule.highestVersion}"></b> <i class="fa fa-history" th:if="${rule.versionGuid != null}" style="cursor: pointer; color: red;" th:onclick="'loadVersion(\'' + ${rule.ruleGuid} + '\')'" data-title="Edit" data-toggle="modal" data-target="#ivsVersionModal"></i> <input type="hidden" th:id="${rule.ruleGuid}+'_version_v'" th:value="${rule.ivsVersion}" th:field="${migrationActivity.rulesForMigration[__${stat.index}__].ivsVersion}" /> <input type="hidden" th:id="${rule.ruleGuid}+'_author_v'" th:value="${rule.updatedBy}" th:field="${migrationActivity.rulesForMigration[__${stat.index}__].updatedBy}" /> <input type="hidden" th:id="${rule.ruleGuid}+'_updatedOn_v'"
							th:value="${rule.updatedOn}" th:field="${migrationActivity.rulesForMigration[__${stat.index}__].updatedOn}" /> 
							<input type="hidden" th:id="${rule.ruleGuid}+'_versionGuid_v'" th:value="${rule.versionGuid}" th:field="${migrationActivity.rulesForMigration[__${stat.index}__].versionGuid}" /> 
							<input type="hidden" th:value="${rule.ruleGuid}" th:field="${migrationActivity.rulesForMigration[__${stat.index}__].ruleGuid}" /> <input type="hidden" th:value="${rule.ruleName}" th:field="${migrationActivity.rulesForMigration[__${stat.index}__].ruleName}" /> 
							<input type="hidden" th:id="${rule.ruleGuid}+'_ruleType_v'" th:value="${rule.ruleType}" th:field="${migrationActivity.rulesForMigration[__${stat.index}__].ruleType}" />
							</td>
						<td>
							<div th:if="${rule.versionGuid != null}" class="btn btn-primary btn-xs" data-title="View Comparison" 
								 th:onclick="'viewDiff(\'' + ${rule.ruleGuid} + '\'
														,\'' + ${rule.ruleName} + '\'
														,\'' + ${rule.ruleType} + '\'
														)'">
								<span class="glyphicon glyphicon-search"></span>
							</div>
						</td>
						<td th:if="${rule.versionGuid != null}"><input type="text" th:value="${rule.note}" th:field="${migrationActivity.rulesForMigration[__${stat.index}__].note}" required="required" /></td>
						<td th:if="${#strings.isEmpty(rule.versionGuid)}">RULES CAN NOT BE MIGRATED</td>
					</tr>

				</tbody>
			</table>
			<div class="container">
				<div class="row">
					<div style="margin-right: 10%;" class="form-group">
						<ul class="list-inline pull-right">
							<li><a class="btn btn-primary next-step" href="ruleSelection"><i class="fa fa-chevron-circle-left"></i>&nbsp;&nbsp;Previous&nbsp;&nbsp;&nbsp;</a></li>
							<li><a class="btn btn-primary next-step" th:onclick="'removeRules()'"><i class="fa fa-minus-circle"></i>&nbsp;&nbsp;Remove From List&nbsp;</a></li>
							<li><button type="submit" class="btn btn-primary next-step" th:disabled="${validRulesCount} &lt;= 0">
									&nbsp;Migrate&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-circle-right"></i>
								</button></li>
						</ul>
					</div>
				</div>
			</div>

		</form>
		<div class="modal fade" id="ivsVersionModal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
						<h4 class="modal-title custom_align" id="versionHistoryTitle">Version History</h4>
					</div>
					<div class="modal-body">
						<div id="versionSection"></div>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>

		<div th:replace="fragments/partials :: ruleComparisonModal"></div>
	</div>
</div>