<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="layout :: head-section"></head>

<body>
	<div class="container" style="width:100%;">

		<div th:replace="layout :: navigation"></div>

		<div id="products" class="row list-group" style="margin-bottom: 0px;">

			<div class="item   col-lg-3">
				<div class="thumbnail">
					<img class="group list-group-image" th:src="@{/static/java2.png}"
						alt="" style="height: 200px;" data-toggle="tooltip" title="Java, JEE, Spring, Struts, Hibernate etc." />

					<div class="caption">
						<div class="row" style="margin: 0 auto;">
							<div class="col-xs-12 ">
								<a class="btn btn-success"  style="width:100%" href="assessment/Java">Start
									Assessment</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="item   col-lg-3">
				<div class="thumbnail">
					<img class="group list-group-image" th:src="@{/static/dotnet.png}"
						alt="" style="height: 200px;" title="MS .NET, VB" />
					<div class="caption">
						<div class="row" style="margin: 0 auto;">
							<div class="col-xs-12 ">
								<a class="btn btn-success" style="width:100%" href="assessment/MS">Start Assessment</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="item   col-lg-3">
				<div class="thumbnail">
					<img class="group list-group-image" th:src="@{/static/cots.jpg}"
					alt="" style="height: 200px;" title="PAS Products, Claims Products, UW Products etc." />
					<div class="caption">
						<div class="row" style="margin: 0 auto;">
							<div class="col-xs-12 ">
								<a class="btn btn-success" style="width:100%" href="assessment/COTS">Start Assessment</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="item   col-lg-3">
				<div class="thumbnail">
					<img class="group list-group-image" th:src="@{/static/database.jpg}"
					 alt="" style="height: 200px;" title="Shared DB applications" />
					<div class="caption">
						<div class="row" style="margin: 0 auto;">
							<div class="col-xs-12 ">
								<a class="btn btn-success" href="assessment/DB" style="width:100%">Start Assessment</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="item   col-lg-3">
				<div class="thumbnail">
					<img class="group list-group-image" th:src="@{/static/middleware.png}"
					 alt="" style="height: 200px;" title="ETL (Informatica, ODI, SSIS etc.), ESB (OSB, TIBCO, WebMethods) etc." />
					<div class="caption">
						<div class="row" style="margin: 0 auto;">
							<div class="col-xs-12 ">
								<a class="btn btn-success" style="width:100%" href="assessment/MW">Start Assessment</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="item   col-lg-3">
				<div class="thumbnail">
					<img class="group list-group-image" th:src="@{/static/MainFrame.png}"
					 alt="" style="height: 200px;" title="Mainframe apps" />
					<div class="caption">
						<div class="row" style="margin: 0 auto;">
							<div class="col-xs-12 ">
								<a class="btn btn-success" style="width:100%">Start Assessment</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="item   col-lg-3">
				<div class="thumbnail">
					<img class="group list-group-image" th:src="@{/static/others.png}"
					 alt="" style="height: 200px;" title="All other applciations not listed above (Foxpro, Powerbuilder, Unix scripts, Shell scripts etc.)" />
					<div class="caption">
						<div class="row" style="margin: 0 auto;">
							<div class="col-xs-12 ">
								<a class="btn btn-success" style="width:100%" href="assessment/Others">Start Assessment</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</body>
</html>